In [ ]:
"""
날짜 : 2023/01/06
이름 : 심규영
내용 : 파이썬 함수 실습하기
"""

In [ ]:
# 함수
def f(x):
    y = 2 * x + 3
    return y

y1 = f(1)
y2 = f(2);y3 = f(3)
print('y1 :', y1)
print('y2 :', y2)
print('y3 :', y3)

In [9]:
# 함수유형
def type1(x, y):
    z = x + y
    return z

def type2(dataset):
    tot = 0
    for data in dataset: tot += data
    print('dataset 합 :', tot)

def type3():
    dataset = [n for n in range(11)]
    tot = 0
    for k in dataset: tot += k
    return tot

In [ ]:
rs1 = type1(1, 2)
type2([1,2,3,4,5])
type2((2, 4, 6, 8, 10))
rs4 = type3()

print('rs1 :', rs1)
print('rs4 :', rs4)

In [ ]:
# 디폴트 매개변수
def hello(name='홍길동', age=20):
    print('이름 :', name)
    print('나이 :', age)

hello()
hello('김유신')
hello('김춘추', 25)

In [ ]:
# 가변 매개변수
def total(*items):
    tot = 0
    for i in items: tot+=i
    return tot

r1 = total(1)
r2 = total(1, 2)
r3 = total(1,2,3)
r4 = total(1,2,3,4)
r5 = total(1,2,3,4,5)

print('r1 :', r1)
print('r2 :', r2)
print('r3 :', r3)
print('r4 :', r4)
print('r5 :', r5)

In [ ]:
# 하나 이상의 값을 리턴
def sumMulti(n1, n2):
    y1 = n1 + n2
    y2 = n1 * n2
    return y1, y2

y1, y2 = sumMulti(2, 3)
print('y1, y2 :', y1, y2)

In [ ]:
# 변수에 저장하는 함수
def plus(x, y):
    return x+y

def minus(x, y):
    return x-y

var1 = plus
var2 = minus

print('var1(2, 3) :', var1(2, 3))
print('var2(3, 4) :', var2(3, 4))

In [ ]:
#함수 리스트
def plus(x, y):
    return x+y

def minus(x, y):
    return x-y

defs = [plus, minus]

r1 = defs[0](1, 2)
r2 = defs[1](2, 3)

print('r1 : ', r1)
print('r2 : ', r2)

In [ ]:
# 람다함수
f1 = lambda x, y: x+y
f2 = lambda x,y:x-y

r1 = f1(1,2)
r2 = f2(2,3)

print('r1 :',r1)
print('r2 :',r2)